<%- include('partials/header') %>


    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand black" href="/">
            <img src="https://tse1.mm.bing.net/th?id=OIP.BrvR9-atH0KR2dbpeW0wxAHaF7&pid=Api&P=0&h=220" alt="logo"
                style="height: 4em;">
            Carental
        </a>
        <div style="margin-left: 21.3rem;">
            <h1 class="display-6">Admin</h1>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">

                <li class="nav-item ">
                    <a class="nav-link display-6 " href="/admin">Back</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  display-6" href="#footer">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row ">
        <div class="justify-content-center">
            <div className="page-title">
                <h3 class="page-title display-6">View all Customers</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">SSN</th>
                        <th scope="col">FName</th>
                        <th scope="col">LName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone_no</th>
                        <th scope="col">credit</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (customers) { %>
                        <% customers.forEach(Office=> { %>
                            <tr>
                                <td>
                                    <%= Office.ssn %>
                                </td>
                                <td>
                                    <%= Office.fname %>
                                </td>
                                <td>
                                    <%= Office.lname %>
                                </td>
                                <td>
                                    <%= Office.email %>
                                </td>
                                <td>
                                    <%= Office.phone_no %>
                                </td>
                                <td>
                                    <%= Office.credit %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                </tbody>
            </table>
        </div>
        <%- include('partials/footer') %>